
#loading_mask {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--bg-color-rgb), 0%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1.6);
    pointer-events: none;
    transition: transform 0.4s cubic-bezier(.52, 0, .77, .45), 
                background-color 0.8s 0.3s ease;
    z-index: 999;

}

#loading_mask[display-flag] {
    pointer-events: initial;
    z-index: 1000;
    transform: scale(1);
    background-color: rgba(var(--bg-color-rgb), 100%);
    /* backdrop-filter: blur(1px); */

}

#loading_mask>#loading_text_contain {
    opacity: 0;
    transition: all 0.4s cubic-bezier(.52, 0, .77, .45);
    filter: blur(30px);
}

#loading_mask[display-flag]>#loading_text_contain  {
    opacity: 1.0;
    filter: blur(0px)
}

#loading_text_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loading_text_contain>h1 {

    font-weight: 100;
    font-size: 96px;
    color: var(--tm-color);
}

#loading_tips {
    font-size: 18px;
    font-weight: 200;
    transition: all 0.5s;
}