@font-face {
    font-family: serif;
    src: url("华文中宋.ttf");
}

@font-face {
    font-family: sans-serif;
    src: url("小米兰亭Pro.ttf");
}

@media(prefers-color-scheme: light) {
    :root {
        --bg-color-rgb: 240, 240, 240;
        --tx-color-rgb: 20, 20, 20;
        --tm-color-rgb: 89, 89, 216;
        --cd-color-rgb: 255, 255, 255;
        --sd-color-rgb: 200, 200, 200;
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        --bg-color-rgb: 33, 33, 33;
        --tx-color-rgb: 255, 255, 255;
        --tm-color-rgb: 172, 172, 255;
        --cd-color-rgb: 66, 66, 66;
        --sd-color-rgb: 20, 20, 20;
    }
}

:root {
    --bg-color: rgb(var(--bg-color-rgb));
    --tx-color: rgb(var(--tx-color-rgb));
    --tm-color: rgb(var(--tm-color-rgb));
    --cd-color: rgb(var(--cd-color-rgb));

    --cd-radius: 30px;
    --cd-shadow: 0px 10px 50px rgba(var(--sd-color-rgb), 50%);

    background-color: var(--bg-color);
    color: var(--tx-color);

    font-family: sans-serif;
}